.seasonal .card {
	display: inline-block;
	width: 200px;
}

.seasonal .card-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.seasonal .card-title {
	font-size: 15px;
}
